body{
    font-family: 'Arial', sans-serif;
}
body.game {
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('картинки/fon1.jpg') center/cover fixed;
}

.planet {
    width: 150px;
    position: absolute;
    top: 22%;
    left: 40%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, width 0.5s ease-in-out;
}

.planet.hidden-planet {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
    width: 140px; /* Уменьшаем размер скрытой планеты */
}

.asteroid {
    width: 100px;
    position: absolute;
    top: 25%;
    right: 35%;
    transform: translate(50%, -50%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, width 0.5s ease-in-out;
}

.asteroid.hidden-asteroid {
    opacity: 0;
    transform: translate(50%, -50%) scale(0.8);
    width: 80px; /* Уменьшаем размер скрытого астероида */
}
.color-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
    transition: background-color 0.5s ease-in-out;
}

.content.game {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}

#problem {
    font-size: 36px;
    margin-bottom: 20px;
}

#options {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

button {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #8911c5;
    color: #fff;
    padding: 15px 30px;
    transition: background-color 0.3s, transform 0.3s;
    margin: 0px 20px 0px 0px;
}
button:hover {
    background-color: #8725b9;  
    transform: scale(1.1);
}


#resultsOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.overlay-content {
    
    text-align: center;
    color: white; /* Используйте цвет текста, как во втором коде */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.overlay-content button {
    margin: 20px 10px 0px;
    padding: 6px 30px; /* Используйте аналогичный размер отступов */
    font-size: 32px; /* Используйте аналогичный размер шрифта */
    font-weight: bold; /* Примените жирность шрифта, если необходимо */
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #8911c5;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s;
}

.overlay-content button:hover {
    background-color: #8725b9;  
    transform: scale(1.1);
}


.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    display: none;
    z-index: 999;
}
